* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  
}

.inputRounded .MuiOutlinedInput-root{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 20px;
}

.buttonRounded .MuiButton-root{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0;
}