.background {
    background: rgb(250, 250, 18);
    background-blend-mode: darken;
    background-size: cover;
}

.title {
    font-size: 4.5vw;
    color: blue;
    margin: 0 auto; 
    text-align: center;
    font-weight: bold;
}
#lefttitle{
    font-size: 4.5vw;
    color: blue;
    margin: 0 auto; 
    position: absolute; 
    left: 0;
    font-weight: bold;
}

.button {
    padding: 5px 5px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.center{
    text-align: center;
}
#right{
    position: absolute; right: 0; top: 0;
  }
  #left{
    position: absolute; left: 0; top: 0;
  }
.h2 {
    font-size: 2.5vw;
    color: blue;
    margin: 0 auto; 
    text-align: center;
    font-weight: bold;
}


